<%= form_for(@link, remote: true, html:{class:"shortenurl"} ) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="url">
      <%= f.text_field :given_url, :class => "field", :id => "field-url", :placeholder => "Paste your URL, shrink it, and share" %>
      <%= f.submit 'Shrink URL', :class => "field", :id => "btn-url"%>
  </div>
<% end %>