<p id="notice"><%= notice %></p>

<section class="show_link">

  <h2>Top 10 shrinked links</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Given url</th>
        <th>Slug</th>
        <th>Clicks</th>
        <th>Title</th>
      </tr>
    </thead>

    <tbody>
      <% @top_links.each do |link| %>
        <tr>
          <td><%= link.given_url %></td>
          <td><%= display_full_shorturl(link.id) %></td>
          <td><%= link.clicks %></td>
          <td><%= link.title %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</section>