<section class="show_link">
	<p id="notice"><%= notice %></p>
	<% if @link.snapshot %>
		<div class="screenshot-outer-individual"><%= link_to image_tag(@link.snapshot.url, class: "screenshot"), @link %></div>
	<% end %>

	<h2> <%= @link.title %></h2>
	<table class="table table-bordered">
		<thead>
			<tr> 
				<th>Given URL</th>
				<th>Shrinked URL</th>
			</tr>
		</thead>
		<tbody>
			<tr> 
				<td><%= link_to @link.given_url %></td>
				<td><%= link_to display_full_shorturl(@link.id) %></td>
			</tr>
		</tbody>
	</table>
	<p> Created <%= time_ago_in_words(@link.created_at) %> ago </p>
	
</section>

