<!DOCTYPE html>
<html>
<head>
  <title>Your own Shorten Url</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body class="grey">
	<nav class="navbar">
  		<div class="container-fluid">
     		<ul class="nav navbar-nav navbar-right">
      			<li><a href="<%= root_path %>"> Home</a> </li>
      			<li><a href="<%= links_path %>">Top links</a></li>
      			
      		</ul>
      	</div>	
    </nav>
	<div class="container">
		<h1 class="logo"> </h1>

		<%= yield %>
		<p>
			<!--Some custom text can be there...-->
		</p>
	</div>

	<footer>
		<% if Rails.env.development? %>
			<%= debug(params) %>
			<%=  %>
		<% end %>
	</footer>
</body>
</html>
